@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
  --clr-dark: #533b4d;
  --clr-darker: #191923;
  --clr-light: #e6e4ce;
  --clr-ligher: #FFEEDB;
  --clr-primary: #3685b5;
  --clr-secondary: #f397d6;
  --clr-accent-1: #f42272;
  --clr-accent-2: #2f1847;
  --clr-accent-3: #502274;
  --clr-yellow: #ff9529;

  --ff: 'Source Sans Pro', sans-serif;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-size: 1.15rem;
  font-family: var(--ff);

  padding: 0;
  margin: 0;
}

body {
  --text: var(--clr-dark);
  --heading-text: var(--clr-primary);
  --link-text: var(--clr-accent-1);
  --link-text-hover: var(--clr-accent-2);
  --nav-link: var(--clr-accent-1);

  --bg: var(--clr-light);
  --bg-inverted: var(--clr-accent-2);
  --bg-nav: var(--clr-ligher);
  --bg-link-hover: var(--clr-secondary);
  --bg-footer: var(--clr-darker);

  --border-color: var(--clr-secondary);

  --svg-color: var(--clr-accent-1);

  --svg-hover: var(--clr-yellow);

  margin: 0;
  height: 100vh;

  background-color: var(--bg);
}

/* Accessibility */

.skip-link:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* Global Styles */

::selection {
  background-color: var(--bg-inverted);
  color: var(--link-text);
}

svg {
  max-width: 100px;
}

a {
  --timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);

  color: var(--link-text);
  text-underline-offset: .2rem;

  transition:
    background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

a:hover,
a:focus {
  transform-origin: bottom;

  background-color: var(--bg-link-hover);
  color: var(--link-text-hover);
}

li > a {
  padding-top: .1em;
  padding-bottom: .1em;
}

h1,
h2 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1;
  color: var(--heading-text);
  
  margin: 1rem 0;
}

h1 {
  font-size: 5rem;
}

h1 + h2 {
  color: var(--link-text);
}

h2 {
  position: relative;
}

h2:not(header h2)::after,
h2:not(header h2)::before {
  position: absolute;
  right: 0;
  left: 0;
  height: 1px;
  content: '';
  background-color: var(--bg-inverted);
}

h2::before {
  top: -.2em;
}

h2::after {
  bottom: -.25em;
}

p,
ul,
ol {
  margin: 1em 0;
}

ul, ol {
  padding: 0 2em;
}

li {
  padding: .125rem 0;
}

.container {
  margin: 2.5rem 1rem;
}

.container .container {
  margin-left: 0;
  margin-right: 0;
}

/* Github Link */

header .link-github {
  margin: 1em 0 0;
}

.link-github {
  position: relative;

  display: inline-block;
}

.link-github svg {
  position: absolute;
  right: -1.1em;
  top: .15em;
  width: 1em;
  
  fill: var(--svg-color);

  transition: fill 250ms var(--timing-function);
}

.link-github:hover,
.link-github:focus {
  background-color: transparent;
  color: var(--svg-hover);
}

.link-github:hover svg,
.link-github:focus svg {
  fill: var(--svg-hover);
}

footer .link-github {
  padding-right: 1em;
}

footer .link-github svg {
  top: .2em;
  right: -.2em;
}

/* Header */

header {
  text-align: center;
}

header p {
  margin-bottom: 0;
}

header h2 {
  --header-h2-margin: .05em;

  margin-left: var(--header-h2-margin);
  margin-right: var(--header-h2-margin);
}

header .container {
  margin: 2rem 0;
}

/* Main Navigation */

header + nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

header + nav ul {
  margin: 1rem 0;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  list-style-type: none;
  background-color: var(--bg-nav);

  border-top: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
}

header + nav li {
  padding: 0 .25rem;
  margin: .25rem 0;
}

header + nav a {
  position: relative;

  font-weight: 800;
  color: var(--nav-link);
  text-decoration: none;

  padding: 0 .1em;
}

header + nav a::after {
  background-color: transparent;
  transition:
    background-color 250ms var(--timing-function),
    height 250ms var(--timing-function);
}

header + nav a:hover,
header + nav a:focus {
  color: var(--heading-text)
}

header + nav a:hover::after,
header + nav a:focus::after {
  position: absolute;
  left: -.1em;
  right: -.1em;
  bottom: 0;

  content: '';
  height: 4px;
  background-color: var(--link-text);

  opacity: .6;
}

/* Main */

#main p {
  color: var(--clr-dark);
  line-height: 1.3;
}

/* Footer */

.page-footer {
  background-color: var(--bg-inverted);
  color: var(--heading-text);
  padding: 0;
}

.page-footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;
}

.page-footer p,
.page-footer ul {
  margin: .5em 1em;
}

.page-footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  text-align: center;
  list-style-type: none;
  
  width: 100%;
  padding: 0;
}

.page-footer li {
  flex-basis: 50%;
}


.page-footer p:last-of-type {
  text-align: center;

  background-color: var(--bg-footer);
  
  width: 100%;

  margin: 0;
  padding: 1em .5em;
}

.page-footer p:last-of-type a {
  padding: 0;
}